<h1>Thanks for shopping with us!</h1>
<p>Let's review your order:</p>

<% @order.order_item.each do |product_id, quantity| %>
	<ul>
		<li><%= Product.find(product_id).name %> : <%= quantity %></li>
	</ul>
<% end %>

<p>
	<strong>Order Total:</strong> <%= number_to_currency @order.grand_total %>
</p>

<%= form_tag order_complete_path do %>
	<%= hidden_field_tag :order_id, @order.id %>
	<script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-amount="<%= @order.grand_total.to_f.round(2) * 100 %>"
    data-description="Order #: <%= @order.id %>">
  </script>
<% end %>